.input-lg {
  height: 40px;
  border-radius: 10px;
  padding: 0px 10px;
  border: none;
  font-size: medium;
  outline: none;
  background: var(--smoke);
  color: var(--white);
}

label {
  font-size: smaller;
}

.form {
  gap: 15px;
  width: 375px;
  max-width: 450px;
}

.input-lg:focus {
  border: 1px solid var(--light_grey);
}

.alert {
  color: red;
  font-size: 12px;
}
